@model ShoeShopMVCAdmin.Models.tblSize

@{
    ViewBag.Title = "EditSize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Size</h2>

@using (Html.BeginForm("EditSize", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SizeId)

        <div class="form-group">
            @Html.LabelFor(model => model.SizeNumber, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SizeNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SizeNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "SizeList", null, new { @class = "btn btn-dark" })
</div>
